nav {
    background-color: #F9F5E8;
}

.Navbar-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__nav-mobile {
    display: none;
    font-size: 40px;
}

.nav__items {
    display: flex;
    flex-direction: row;
}

.navbar__navbar {
    display: flex;
    flex-direction: column;
}

.navbar__navbar-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .navbar__nav-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }

    .navbar__navbar-mobile {
        display: none;
    }

    .navbar__column {
        display: flex;
        flex-direction: column;
    }
}