.Navbar-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    border: 1px solid #000;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.navbar__nav {
    display: none;
}

.navbar-none {
    display: none;
}

.navbar__nav-mobile {
    font-size: 20px;
    display: block;
}

.navbar__navbar {
    display: flex;
    flex-direction: column;
}

.navbar__navbar-mobile {
    display: none;
}

.second-display-none {
    display: none;
}

.second-display-flex {
    display: flex;
    flex-direction: row;
}

@media (min-width: 600px) {
    .navbar__nav {
        display: flex;
    }

    .navbar__nav-mobile {
        display: none;
    }

    .navbar__navbar-mobile {
        display: flex;
    }
  }
  
  /* For desktops */
  @media (min-width: 1024px) {
  }